@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Gabarito:wght@500&family=Lora:ital@0;1&family=Playfair+Display&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --cor-principal: rgb(70, 11, 21);
    --cor-secundaria: #40414f;
}

body{
    margin: 0;

}

.cabecalho {
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-barra{
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logotipo {
    width: auto;
    height: 80px; 
    margin-right: 20px; 
}

.barra-pesquisa {
    display: flex;
    background-color: #ccc;
    border-radius: 20px;
    padding: 10px; 
    align-items: center;
    
    cursor: pointer; 
}

.barra-pesquisa:focus-within {
    border: 2px solid var(--cor-secundaria);
}

.barra-pesquisa i {
    color: var(--cor-secundaria);
    margin-right: 10px;
}

.barra-pesquisa input {
    border: none;
    background-color: transparent;
    outline: none;
    
    padding: 0;
    margin: 0;
    transition: border 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.barra-pesquisa input::placeholder {
    color: var(--cor-secundaria);
}

.icons {
    display: flex;
    align-items: center;
}

.icon-person, .icon-bag, .botaoMenu {
    color: var(--cor-principal);
    transition: color 0.3s;
    margin-right: 20px; /* Espaço entre os ícones */
}


.icon-person:hover, .icon-bag:hover, .botaoMenu:hover {
    color: var(--cor-secundaria);
}

.menu {
    position: relative;
    display: inline-block;
}

.botaoMenu {
    padding: 12px 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.dropdownMenu {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dropdownMenu a {
    text-decoration: none;
    color: var(--cor-secundaria);
    padding: 12px 16px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.dropdownMenu a:hover {
    background-color: #ddd;
    
}

.menu:hover .dropdownMenu {
    display: block;
    max-height: 200px;
    opacity: 1;
}

.menu:hover .botaoMenu {
    color: var(--cor-secundaria);
}


footer {
    background-color: var(--cor-secundaria);
    color: #fff;
    padding: 20px 0; 
    padding-top: 30px;
    text-align: center;
    margin-top: auto; 
    padding: 20px 0;
}

.admin-container{
  max-width: 90%; 
  margin: auto;
  padding: 0 10px;
  margin-bottom: 50px;
  width: 90%; 
  margin: 20px auto; /* 20px de margem pra cima e pra abaixo; centraliza horizontalmente */
}

h2 {
  font-family: 'Arial', sans-serif; 
  font-size: 48px; /* Aumentar o tamanho da fonte */
  font-weight: 700; /* Deixar a fonte mais grossa */
  margin-bottom: 1em;
  text-align: center; /* Centralizar o título */
  
}

h3 {
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
button {
  background-color: var(--cor-principal); /* Usar a cor principal para o botão */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: red;
}

/* Formulário de cadastro de produtos */
#formularioCadastroProduto {
  max-width: 300px; /* Limita em 300px a largura do formulário */
  margin: 20px auto; /* Centraliza e adiciona margem em volta */
  display: flex;
  flex-direction: column;
}

#formularioCadastroProduto input,
#formularioCadastroProduto select {
    margin-bottom: 5px; 
    padding: 8px; /* Padding para tornar os campos maiores */
    border: 1px solid #ccc; /* Borda mais sutil */
    border-radius: 4px; 
}
#formularioCadastroProduto button {
  align-self: center; /* Centraliza o botão no formulário */
}

/* Estilos da tabela de produtos */
table {
  width: 100%; /* A tabela ocupa toda a largura disponível */
  border-collapse: collapse; /* Colapsa as bordas dos celulares da tabela */
  margin-top: 20px; 
}

table, th, td {
  border: 1px solid var(--cor-secundaria); /* Adiciona borda */
}

th, td {
  text-align: left; /* Alinha o texto à esquerda */
  padding: 8px; 
}

th {
  background-color: var(--cor-principal); /* Cor de fundo do cabeçalho da tabela */
  color: white;
}

td {
  background-color: #f2f2f2; /* Cor de fundo para as células */
}

td button {
  padding: 5px 10px; /* Padding menor para botões dentro da tabela */
  color: white;
  border: none;
  cursor: pointer;
}




